body {
  background-color: #333;
  color: white;
}

.navbar {
  border-bottom: 3px solid #008fd6;

  opacity: 0.7;
}

.icon-lg {
  border-radius: 5px;
  font-size: 150%;
  color: #008ed6;
  --ionicon-stroke-width: 100px;
}

.header-background {
  background-image: url(../img/home.jpg);
  background-size: cover;
  min-height: 700px;
}

.header-overlay {
  background-color: rgba(38, 35, 49, 0.521);
  min-height: 700px;
  padding-top: 150px;
}

.card {
  opacity: 0.8;
}

/* =================================================== */
/* =========Explore Section=========== */
/* =================================================== */

.icon-lg-dark {
  background: #0c0b0b;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-size: 150%;
  --ionicon-stroke-width: 100px;
}

#explore,
#create,
#share,
#footer {
  padding-top: 60px;
  padding-bottom: 50px;
}
